.login-container {
    max-width: 420px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 40px;
}

.login-form-button {
    width: 100%;
}

.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }

.theBox{
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  background-color: lightskyblue;
}

#form-flex{
  padding: 10px;
}